[core]
	excludesfile = ~/.config/git/exclude
	pager = delta
[user]
	name = 
	email = 
[credential "https://github.com"]
	helper = 
	helper = !/nix/store/7ayrbzjnm88xn12lfv99c1sqprlc2bwr-gh-2.97.0/bin/.gh-wrapped auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/nix/store/7ayrbzjnm88xn12lfv99c1sqprlc2bwr-gh-2.97.0/bin/.gh-wrapped auth git-credential
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
